.full-height
{
    height: 100vh;
}

.inner-shadow
{
    box-shadow: 0 1px rgba(255, 255, 255, 0.5) inset !important;
}

.question
{
    height: 3.5rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
}

.reminder
{
    position: fixed;
    bottom: 20px;
}

.question-box
{
    padding: 10px;
    margin: 15px;
}

.export
{ 
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
}

.none
{
    display: none;
}

.bottom-right {
    position: fixed;
    bottom: 0px;
    right: 0px;
}