.procedure-list 
{
    font-size: 0.85rem;
}

.procedure
{
    height: 3.5rem;
    background-color: white;
    border: 4.5px solid white;
    border-radius: 4.5px;;
    overflow: visible;
}

#start:hover
{
    border: 0;
    color: #212529;
    background-color: #e2e6ea;
}

button:focus 
{
    outline: 0;
}

.inner-shadow
{
    box-shadow: 0 1px rgba(255, 255, 255, 0.5) inset !important;
}

.list-group-hover .list-group-item:not(.active):hover 
{
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    cursor: pointer;
}